/* common styles */

/* fonts */

.quicksand {
    font-family: "Quicksand", serif;
  }

.raleway {
    font-family: "Raleway", serif;
  }


:root{
    --orange:#FEA301;
    --sky-blue:#01ACFD;
    --sea-blue:#05D4DF;
    --purple:#5D58EF;
    --black:#111111;
    --white:#FFFFFF;
}

.black{
    color: #111111;
}

.orange{
    color: var(--orange);
}

.blue1{
    color: var(--sky-blue);
}

.blue2{
    color: var(--sea-blue);
}

.purple{
    color: var(--purple);
}
body{
   margin: 0;
   font-family: "Quicksand", serif;
}


/* nav styles */
.navbar{
    max-width: 1160px; 
    margin: 0 auto;
    padding: .75rem 0;
}
.navbar,.nav-list>ul,.site-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-info{
    gap: .687rem;
}

.site-name h2{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.9rem;
    color: var(--black);
    margin: 0;

}
.nav-list>ul{
    list-style: none;
    gap: 2rem;
}

.nav-list li{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.9rem;
}

a{
    cursor: pointer;
    text-decoration: none;
    
}

.contact-btn,.enroll,.view-btn{
    color: var(--white);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.9rem;
    background-color: var(--orange);
    border: none;
    border-radius: .75rem;
    padding:.625rem 3.75rem;
    cursor: pointer;
}

.menu{
    display: none;
}

.menu i{
    font-size: 2rem;
    padding: .5rem .25rem;
}

.banner{
    max-width: 1160px; 
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin: 0;
    margin-bottom: 1.5rem;

}

.banner-description{
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.enroll,.view-btn{
    background-color: var(--black);
    padding: .6rem 3rem;
}

/* curriculum */

section{
    padding: 3.75rem 0;
}


.curriculum {
    background-image: url(../assets/bg.png);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum-detail{
    max-width: 1160px; 
    margin: 0 auto;
}

.section-heading{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6rem;
    margin: 0;
    margin-bottom: 5rem;
    text-align: center;

}

.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 28px;
}

.card-items{
    padding: 3.375rem 2.56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
}

.card-items{
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
#card-1{
    background: linear-gradient(#DEF5FF 0%, #FFFFFF 40%);
    border: .94px solid #DEF5FF;
    
}
#card-2{
   background: linear-gradient(#FFF4DC 0%,#FFFFFF 40%);
   border: .94px solid #FFF4DC;
}
#card-3{
    background: linear-gradient(#EEE1FF 0%,#FFFFFF 40%);
    border: .94px solid #F2E8FF;
}

.card-btn-1,.card-btn-2,.card-btn-3{
    font-weight: 700;
    line-height: 1.75rem;
}
.card-btn-1{
    color: #64C8FF;
}

.card-btn-2{
    color: #F0AA00;
}
.card-btn-3{
    color: #8700FF;
}

.card-heading{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 0;
    margin: 2rem 0;
}

.card-description{
    font-weight: 500;
    line-height: 1.75rem;
    color: #808080;;
    margin-bottom: 3rem;
}

.arrow-btn-container {
    padding: 80px 0 60px 0;
    display: flex;
    justify-content: center;  
    align-items: center;  
    gap: 10px; 
}

.arrow-btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:var(--orange);
    display: flex;  
    align-items: center;  
    justify-content: center;  
    cursor: pointer;
}

.arrow-btn i {
    color: white;  
    font-size: 20px;  
}

.arrow-btn:hover{
    background-color:var(--purple);
    transform: scale(1.1);
}

/* stories */
.stories{
    background: linear-gradient(to top,rgba(254, 163, 1, .3),rgba(255, 255, 255, 0)),url(../assets/bg.png);
    background-size: cover;
}
.stories-detail{
    max-width: 1160px; 
    margin: 0 auto;
}

.stories-card{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
}

.item1{
    grid-column: span 2;
    grid-row: span 2;
}

.stories-card-item img{
    width: 100%;
}

.stories-card-item{
    border-radius: 1rem;
    overflow: hidden;
    background-color: #FFFFFF;
}


.stories-btn{
    color: white;
    background-color: black;
    font-weight: 500;
    padding: 1rem;
    border-radius: 3rem;
    position:relative;
    top:-30px;
    font-size: 1rem;
    z-index: 1;
}
.stories-content{
    padding: 0rem 2.3rem;
}
.stories-title{
    font-weight: 700;
    line-height: 1.75rem;
    margin: 0;
    margin-bottom: 1.25rem;
}

.item1 .stories-title{
   font-size: 1.5rem;
   line-height: 2.37rem;
   margin-bottom: 3rem;
}
.story-des{
    font-family: "Raleway", serif;
    font-weight: 500;
    line-height: 1.8rem;
    color: #666666;
}

.view{
    display: flex;
    justify-content: center;
}

.view-btn{
    margin-top: 5rem;
}


marquee{
    font-weight: 700;
    line-height: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #9c9bc1;
    height: 50px;
    display: flex;
    align-items: center;
}











/* mobile responsive */
/* navbar */

@media screen and (max-width:576px) {
    html{
        font-size: 10px;
    }
    .navbar{
        padding: .75rem 1rem;
        border-bottom: .5px solid var(--orange);
    }

    
    .menu{
        display: block;
    }

    .nav-list,.site-name,.contact-btn{
        display: none;
    }

    .banner,.curriculum-detail,.stories-detail{
        padding: 0 1rem;  
      }


    /* banner */
    .banner{
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .banner-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }



    .banner-description{  
        font-weight: 500;
        max-width: 350px;
    }

    .banner-img img{
        width: 100%;
    }

    .enroll{
        font-size: 1.6rem;
        padding: .6rem 24px;
    }
    /* curriculum */
    .curriculum-card{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }


    .card-description{
        max-width: 350px;
    }

    .arrow-btn-container{
        display: none;
    }

    /* stories */
    
    .stories-card{
        grid-template-columns:repeat(2,1fr);
    }
    
    .item1{
        display: none;
    }
    
    
    .stories-btn{
        top:-15px;
        z-index: 1;
    }
    
    .stories-title{
        max-width: 120px;
    }
    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    

}